form{
  margin-top:3rem;
  margin-bottom: 1rem;
}

form input[name="city"],
form input[name="country"]{
  background-color: transparent;
  color: black;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}

form input:focus{
  background-color: transparent !important;
  box-shadow: none !important;
}
